body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 14pt;
}

header {
    min-width: 1200px;
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(134, 114, 153);
}
header > a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 50px;
    width: 150px;
    &:hover {
        background-color: rgb(107, 76, 137);
    }
}

main {
    min-width: 1200px;
    width: 1200px;
}

.login-page {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 100px;
}
.login-page a {
    text-decoration: none;
    margin: 15px;
}

.login-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    width: 420px;
    height: 230px;
}
.login-form input {
    padding: 10px;
    width: 300px;
    margin: 10px;
    border: 2px rgb(121, 63, 175) solid;
    border-radius: 5px;
}
.login-form button {
    padding: 10px;
    width: 150px;
    margin: 10px;
    border: 2px rgb(121, 63, 175) solid;
    background-color: rgb(190, 168, 211);
    border-radius: 5px;
    &:hover {
        background-color: rgb(79, 38, 118);
    }
}

.main-page {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-page {
    display: flex;
    flex-wrap: wrap;
}
.map-page > span {
    height: 70px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
}
.map {
    width: 800px;
    height: 800px;
    background-color: rgb(255, 255, 255);
}
.locations {
    width: 400px;
}

.locations-list {
    overflow-y: auto;
    height: 650px;
}
.location-info {
    border: 1px black solid;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.location-info > div > button {
    border: 1px black solid;
    border-radius: 5px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgb(134, 114, 153);
    &:hover {
        background-color: rgb(107, 76, 137);
    }
}
.location-input {
    margin: 7px;
    height: 150px;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-input > input {
    width: 250px;
    height: 20px;
    margin: 4px;
}
.location-input > button {
    width: 100px;
    height: 30px;
    margin: 4px;
    border: 1px black solid;
    border-radius: 5px;
    background-color: rgb(134, 114, 153);
    &:hover {
        background-color: rgb(107, 76, 137);
    }
}

.loader {
    margin-top: 300px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.admin-page {
    display: flex;
    flex-wrap: wrap;
}
.admin-page > span {
    height: 70px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
}
.admin-userinfo {
    border: 2px black solid;
    border-radius: 5px;
    display: flex;
    margin: 23px;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 50px;
}
.admin-userinfo > button {
    width: 150px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
    background-color: rgb(134, 114, 153);
    &:hover {
        background-color: rgb(107, 76, 137);
    }
}
.admin-span {
    width: 150px;
}
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    right: 5px;
    border-radius: 5px;
    position: fixed;
    width: 300px;
    height: 60px;
    border: 1px black solid;
    opacity: 0;
    transition: opacity 1s;
}
.success {
    background-color: #53ae68;
    color: #05260d;
}
.warning {
    background-color: #8d7c46;
    color: #322704;
}
.error {
    background-color: #86444a;
    color: #35080d;
}
.visible{
    opacity: 1;
}
.hidden{
    opacity: 0;
}
